.main {
  .main-content {
    padding: 0 20px;
  }

  .courses-list {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;

    .courses-title {
      text-align: left;
    }
  }

  .title {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;
  }
}
