.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around ;

  .courses-list {
    color: #EEEEEE;
    display: flex;
    padding: 50px 0;
    justify-content: space-around;

    .courses-title {
      text-align: left;
    }
    a{
      background-color: #fff;
      padding: 15px;
      text-align: start;
      &:hover {
        transform: scale(1.03);
        transition: .3s;
      }
    }
  }

  .title {
    background-color: #e52d27;
    font-weight: 700;
    text-align: left;
    color: #fff;
    height: 3vw;
    display: flex;
    align-items: center;
    height: 40px;

      p{
        width: 90%;
        display: flex;
        justify-content: start;
        margin: auto;
        font-size: 20px;

    }
  }

  .popup-center {
    justify-content: center;
    align-items: center;
  }
}
