.course-page-main{
    display: flex;
    height: calc(100vh - 90px);
    background-color: #EEEEEE;
}

.courseInfo {
    display: flex;
    flex: 1;
    margin-top: 38px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.teacherAcc {
    margin-bottom: 60px;
}

.courseName{
    font-size: 25px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: #cb2d3e;
    font-weight: bold;
}

.coursePhoto {
    margin-top: 30px;
    width: 80%;
}

.courseCategory {
    font-size: 20px;
    color: #cb2d3e;
    margin: auto;
    margin-top: 40px;
    padding: 1vw 1vw;

    &:hover{
        cursor: pointer;
        color: rgb(252, 93, 81);
    }
}

.teacherProfPic {
    width: 50%;
    border-radius: 50%;
    border: 1px solid #cb2d3e;
    justify-content: end;
    cursor: pointer;
}

.teacherName {
    color: #cb2d3e;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        cursor: pointer;
        color: rgb(252, 93, 81);      
    }
}

.courseContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content:space-between;
}

.videoQuizesContainer{
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.course-page-main .section-main{
    flex: 0 0;
}

.discriptionContainer {
    display: flex;
    justify-content: center;
    padding: 0 15px ;

    p{
        font-size: 1.1vw;
        display: flex;
        text-align: justify;
        color: #cb2d3e;
    }
}

.videoPlayer {
    width: 95%;
    height: 95%;
}