.course-page-main{
    display: flex;

    .course-page-content{
        flex: 3;
        border: 1px solid red;

        .course-description{
            display: flex;
            margin: 30px 0;


            .course-img{
                flex: 1;

                img{
                    height: 150px;
                }
                p{
                    text-align: left;
                }
            }
            .course-text{
                padding: 0 10px;
                flex: 2;
                text-align: left;
            }

     

        }
    }
}