.search {
  display: flex;
  padding: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
  input {
    width: 75%;
    height: 40px;
    background-color: white;
  }

  button {
    height: 40px;
    margin-left: 20px;
    background-color: white;
    color: #e52d27;
    border-color: #e52d27;

    &:hover{
      border-color: #b31217;
      background-color: white;
    }
  }
}
