
.suggestedCoursesContainer{
    flex: 3;

    .suggestedTitle{
        background: linear-gradient(#cb2d3e, #ef473a);
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 15px;
        
    }
    
    .linksContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

