
.suggestedTitle{
      background: linear-gradient(#e52d27, #b31217);
    color: #fff;
    height: 40px;
    font-size: 30px;
    text-align: center;
    
}

    .suggestedTitle{
        background: linear-gradient(#cb2d3e, #ef473a);
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 15px;
        
    }
    
    .linksContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }


