    .suggestedTitle{
        background: linear-gradient(#e52d27, #b31217);
        color: #fff;
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
        height: 40px;
    }
    
    .linksContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }


