.main-catgeories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 30px 20px;
  overflow: hidden;
  margin: auto;

  a{
    width: 24%;

    .category-img {
      width: 90%;
      height: 300px;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &:hover{
        transform: scale(1.1);
        transition: .3s;

      }
    }
  }
}


