.header {
  height: 90px;
  border-bottom: 1px solid gray;
  display: flex;
  background: linear-gradient(#cb2d3e, #ef473a);
  color: white;

  .header-logo {  
    flex: 1;

    .logo {
      height: 90px;
      margin-right: 200px;
    }
  }
  .header-menu {
    display: flex;
    flex: 3;
    text-align: left;
    align-items: center;


    .popup-menu {
      position: absolute;
      background-color: rgb(214, 214, 214);
      opacity: 0.8;
      z-index: 999;
      width: 130px;
      display: none;

      div {
        cursor: pointer;
        position: relative;

        .sub-popup-menu {
          background-color: rgb(214, 214, 214);;
          opacity: 0.8;
          position: absolute;
          left: 125px;
          top: 0;
          display: none;
          z-index: 9999;

          p {
            color: blue;

            &:hover {
              color: red;
            }
          }

          &:hover {
            display: block;
          }
        }

        &:hover {

          .sub-popup-menu {
            display: block;
          }
        }

        a{
          color: black;

          p{
            &:hover {
              color: red;
            }
          }

        }
      }
    }
    &:hover {
      .popup-menu {
        display: block;
      }
    }

    p {
      margin: 5px;
      color: white;
    }
  }
  .header-btns {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-btn{
      border: 2px solid white;
      border-radius: 9px;
      background-color: white;
      color: rgb(250,15,0);
      height: 35px;
      width: 150px;
    } 
  }
}

.user-profile:hover {
  cursor: pointer;
  outline: none;
}

.CategoryMenu{
  color: white;
   &:hover {
    cursor: default;
  }
}