.header {
  height: 90px;
  display: flex;
  background: linear-gradient(#e52d27, #b31217);
  color: white;

  .header-logo {
    flex: 1;

    .logo {
      height: 90px;
    }
  }
  .header-menu {
    display: flex;
    flex: 3;
    text-align: left;
    align-items: center;

    .popup-menu {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 999;
      display: none;

      div {
        cursor: pointer;
        position: relative;
        padding: 0 15px;

        .sub-popup-menu {
          background-color: rgba(255, 255, 255, 0.8);
          position: absolute;
          left: 145px;
          top: 0;
          display: none;
          z-index: 9999;

          p {
            color: black;

            &:hover {
              color: #b31217;
            }
          }

          &:hover {
            display: block;
          }
        }

        &:hover {

          .sub-popup-menu {
            display: block;
          }
        }

        a{
          color: black;

          p{
            &:hover {
              color: #b31217;
            }
          }

        }
      }
    }
    &:hover {
      .popup-menu {
        display: block;
      }
    }

    & > div > p {
      margin: 5px;
      color: white;
      font-size: 20px;
    }
  }
  .header-btns {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .login-btn{
      border: 2px solid white;
      border-radius: 9px;
      background-color: white;
      color: rgb(250,15,0);
      height: 35px;
      width: 150px;
    }
    .signout-btn {
      border: 2px solid white;
      border-radius: 9px;
      background-color: white;
      color: rgb(250,15,0);
      height: 35px;
    }
  }
}

.user-profile:hover {
  cursor: pointer;
  outline: none;
}

.CategoryMenu{
  color: white;
   &:hover {
    cursor: default;
  }
}

.userName {
  color: white;
  padding: 5px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  &:hover{
    color: white;
  }
}