.teacher-page {
    display: flex;

    .account-info{
        padding-top: 20px;
        flex:1;
        border-right: 1px solid black;

        img{
            height: 150px;
            width: 150px;
        
            border-radius: 50%;

        }

    }
  
    .teacher-courses{
      flex: 4;
      display: flex;
      flex-wrap: wrap;
      margin-top: 38px;
      justify-content: space-around;

      .course-main {
        margin: 1vw;
        font-size: 10px;
        padding: 5px;

        p {
            display: flex;
            justify-content: space-between;
            text-align: left;
            margin: 1vw 0;
            font-size: 1.2vw;
        }
      }
    }
}