.bigDiv {
    display: flex;
    height: calc(100vh - 90px); 
    flex-direction: row;
}

.myProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 100%;
    width: 400px;
    box-sizing: border-box;
}

.userPageInfo {
    font-style: unset;
    font-size: 30px;
    color: black;
}

.editBtn {
    margin-top: 10px;
    margin-left: 250px;
}
.editBtn:hover {
    cursor: pointer;
    background-color: #e6dbd3;
    border-radius: 25%;
}

.userPhoto {
		height: 160px;
		margin-top: 50px;
        box-sizing: border-box;
        border: 5px;
		}

.edit {
    display: none;
}

.name {
		width: auto;
		height: auto;
		left: 70px;
		top: 380px;
		position: absolute;
		font-style: unset;
		font-size: 40px;
		color: black;
		}
.coursesContainer{
    height: 100%;
    width: 70%;
    align-items: center;
}
.titleCourses 	{
    margin: auto;
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding: 10px 0;
}
.container 	{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    box-sizing: border-box;
	background: linear-gradient(#e52d27, #b31217);
	color: black;
	border-radius: 20px;
    align-items: center;
}

.add-courses-container{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    box-sizing: border-box;
    background-color: white;
	color: black;
	border-radius: 20px;
    align-items: center;
}
.courses  {
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
    margin: 0 2px;
}

.dot:hover {
    background-color: rgb(250,15,0);
}

.add-course{
    padding: 20px;

    .course-title{
        &::after{
            border-bottom-color: red ;
        }
    }
    
    .course-description{
    
        width: 100%;
        margin: 20px 0;
        border: none;

        &:focus{
            border: 1px solid red;
            outline-color: red;
        }
    }

    .img-upload{
        display: flex;
        flex-direction: column;
    }

    .selectors{
        float: left;

        select{
            margin-right: 10px;
        }
    }

}